// @import '../styles/variables';
// @import '../styles/mixins';
@import '../../styles/main';

button {
    border: 0px;
}
.btn {
    cursor: pointer;
    color: white;
    padding: 5px 30px;
    border: 0px;
    @include radius-10;
    @include shadow-4;
    @include bg-color-variant;

    &-sm {
        font-size: 12px;
        padding: 4px 10px;
    }

    &.disabled {
        color: $primary-50;
        @include shade-dark;
    }
}
