//@import '../styles/variables';
//@import '../styles/mixins';
@import '../../styles/main';

.segmented {
    @include shade-dark;
    @include radius-4;
    @include bg-color-variant;
    font-size: 13px;
    width: auto;
    display: inline-block;
    overflow: hidden;
    padding: 3px 3px;
    box-sizing: content-box;

    &-item {
        cursor: pointer;
        float: left;
        padding: 4px 13px;
        //  border-left: 2px solid $primary-10; // TODO
        &:first-child {
            border-left: none;
        }
        &.active {
            @include radius-4;
            background: white;
            padding: 4px 13px;
            color: $secondary;
            box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
        }
    }
}
